[submodule "invidious-companion"]
	path = invidious-companion
	url = https://github.com/iv-org/invidious-companion.git
[submodule "NewPipeExtractor"]
	path = NewPipeExtractor
	url = https://github.com/TeamNewPipe/NewPipeExtractor
